[DEFAULT]
URL: https://owncloud.test.org
adminUser: admin
adminPassword: secret
userDefinitionFile: /home/user/data/owncloud-users.csv
sharedFolderFile: /home/user/data/owncloud-shares.csv

groupsByDomainName: true
#put users in groups according to the domain name in the user-name. e.g. user@ict.company.org.uk will be in the groups: "ict.company.org.uk","company.org.uk","org.uk","uk" 

groupsByDomainNameSkipDomains: 1
#skip x Domain Names for the function groupsByDomainName. e.g. "groupsByDomainNameSkipDomains: 1" will add "ict.company.org.uk","ict.company.org","company.org","org"

emailTo: backup.admin@mycompany.example.org
emailFrom: backup@mycompany.example.org
SMTPServer: mail.mycompany.example.org
SMTPPort: 465
SMTPUser: backup@mycompany.example.org
SMTPPassword: The@Email@Password
#can be NONE, SSLTLS or STARTTLS 
SMTPSSL: SSLTLS